h1 {
    text-align:center;
}

#TT {
    text-align: center;
    line-height:0%
}

caption {
    text-align:left;
}

#other {
    text-align-last:center;
}

#text {
    text-align:center;
}
